<div class="card bg-dark text-white">
    <img src="assets/img/bannerhd.jpg" class="card-img" alt="..." style="filter: blur(1.8px);">
    <div class="card-img-overlay">
        <br>
        <h5 class="card-title"
            style="font-weight:bold; font-size: 30px; text-align: center; text-shadow: 3px 3px 3px black;">Universidad
            Tecnológica de
            Aguascalientes</h5>
        <br>
        <p class="card-text"
            style="font-weight:bold; font-size: 20px; text-align: justify; text-shadow: 3px 3px 3px black;">En 1991,
            comienza la historia de nuestra
            universidad, tu
            universidad, siendo una de las
            primeras Universidades
            Tecnológicas del país, pioneras en la implementación del modelo de educación Técnico Superior Universitario,
            un
            modelo basado en las mejores prácticas de los Institutos Universitarios de Francia, el cual promueve la
            integración
            de la práctica y la presencia de los estudiantes en la empresa desde los primeros años de su formación
            académica.
            <br>
            <br>
            Hoy nuestra universidad, sigue a la cabeza de las Universidades Tecnológicas, brindando oportunidad de
            estudio a
            miles de jóvenes en el estado, conservando un alto nivel académico basado en la experiencia de nuestros
            docentes y
            la calidad de nuestras instalaciones, todo con la finalidad de estar a la altura de lo que nuestros
            estudiantes
            merecen.
            <br><br>
            Contamos con una amplia oferta educativa de nivel TSU, en diversas áreas de interés preponderante en el
            estado y
            especialmente diseñadas para impulsar el desarrollo económico, científico y tecnológico del país, las cuales
            ofrecen
            la oportunidad de continuidad de estudios a nivel licenciatura e ingeniería para complementar y brindar
            mayor
            competencia a nuestros egresados, que hoy suman más de 8 mil en 25 años de tocar y transforma la vida de
            nuestros
            estudiantes.</p>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a type="button" href="http://www.utags.edu.mx/" target="_blank" class="btn btn-success btn-lg " style="font-weight:bold; 
            ">Página oficial</a>
        </div>

    </div>
</div>
<footer class="page-footer font-small navbar-dark bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
        <a>Universidad Tecnológica de Aguascalientes</a>
    </div>
    <!-- Copyright -->

</footer>