<div class="card text-center mt-4 animated fadeIn">
    <div class="card-header">
        UNIVERSIDAD TECNOLÓGICA DE AGUASCALIENTES
        <img src="assets/img/bannerhd.jpg" class="card-img-top">
    </div>
    <div class="card-body">
        <h5 class="card-title">Acerca de nosotros</h5>
        <p class="card-text">En 1991, comienza la historia de nuestra universidad, tu universidad, siendo una de las
            primeras Universidades
            Tecnológicas del país, pioneras en la implementación del modelo de educación Técnico Superior Universitario,
            un
            modelo basado en las mejores prácticas de los Institutos Universitarios de Francia, el cual promueve la
            integración
            de la práctica y la presencia de los estudiantes en la empresa desde los primeros años de su formación
            académica.
            <br>
            <br>
            Hoy nuestra universidad, sigue a la cabeza de las Universidades Tecnológicas, brindando oportunidad de
            estudio a
            miles de jóvenes en el estado, conservando un alto nivel académico basado en la experiencia de nuestros
            docentes y
            la calidad de nuestras instalaciones, todo con la finalidad de estar a la altura de lo que nuestros
            estudiantes
            merecen.
            <br><br>
            Contamos con una amplia oferta educativa de nivel TSU, en diversas áreas de interés preponderante en el
            estado y
            especialmente diseñadas para impulsar el desarrollo económico, científico y tecnológico del país, las cuales
            ofrecen
            la oportunidad de continuidad de estudios a nivel licenciatura e ingeniería para complementar y brindar
            mayor
            competencia a nuestros egresados, que hoy suman más de 8 mil en 25 años de tocar y transforma la vida de
            nuestros
            estudiantes.</p>
        <a href="#" class="btn btn-primary">Página Oficial</a>
    </div>
    <div class="card-footer text-muted">
        Universidad Tecnológica de Aguascalientes© 2020.
    </div>
</div>