<div class="row">
    <div class="col-lg-5 col-md-12 mt-4 mb-4">
        <app-registrar-covocatoria *ngIf="componentes.registrarconvocatoriaComponent" (salida)="obtenerConvocatoria()">
        </app-registrar-covocatoria>

        <app-actualizar-convocatoria *ngIf="componentes.actualizarconvocatoriaComponent" [componentes]="componentes"
            [idConvocatoria]="idConvocatoria"></app-actualizar-convocatoria>

    </div>

    <div class="col-lg-7 col-md-12 mt-4 mb-4">
        <app-tabla-convocatoria *ngIf="componentes.tablaconvocatoriaComponent" [componentes]="componentes"
            (salida)="mostrarActualizar($event)" (actualizarConvocatoria)="obtenerConvocatoria()">
        </app-tabla-convocatoria>
    </div>
</div>