<html>
<head>
	<meta charset="utf-8">
	<title>Registrarse</title>
</head>
<body>
   
    <nav class="nav">	
		<a class="nav-inter" href="#">RIPPPA</a>	
		<a class="nav-inter" href="interfaz_candidatos.html">Convocatorias</a>	
    </nav>
    <div style="width: 600px; position: relative; top: 90px; left: 50px; ">
    <h1 class="display-4" style="position: relative; left: 100px;">Registrar Usuario</h1>
	<form name="ini" #useradmin="ngForm">
  <div class="form-group">
    <input class="form-control" type="text"  [(ngModel)]="usuario.idRol" placeholder="Rol">
  </div>
  <div class="form-group">
    <input class="form-control" type="text"  [(ngModel)]="usuario.idDireccion"  placeholder="Dirección">
  </div>
  <div class="form-group">
    <input class="form-control" type="text"  [(ngModel)]="usuario.strNombre" id="strNombre" placeholder="Nombre">
</div>
<div class="form-group">
    <input class="form-control" type="text"  [(ngModel)]="usuario.nmbCodigoEmpleado" placeholder="Código de Empleado">
    </div>
     <div class="form-group">
    <input class="form-control" type="password" [(ngModel)]="usuario.strContrasenia" placeholder="Contraseña">
    <small class="form-text text-muted">Tu contraseña debe ser de al menos 8 caracteres cualesquiera sin superar los 16</small>
  </div>
   <div class="form-group">
    <input class="form-control" type="password" value="" placeholder="Comprobar Contraseña">
  </div>
  <button class="btn btn-success" style="position:relative; left:237px" (click)=agregar()>Registrarse</button>
  <a href="#"><small class="form-text text-muted" style="position:relative; left:200px">¿Ya eres usuario? Inicia sesión</small></a>
</form>
</div>

<table id="tab1" class="tablausr table table-bordered table-white" *ngIf="user.length >=1">
    <tr>
      <td>Rol</td><td>Nombre</td><td>Direccion</td><td>C. Empleado</td><td>Eliminar</td><td>Editar</td>
    </tr>
    <tr *ngFor="let usr of user">
      <td>{{usr.idRol}}</td>
      <td>{{usr.strNombre}}</td>
      <td>{{usr.idDireccion}}</td>
      <td>{{usr.nmbCodigoEmpleado}}</td>
      <td><button class="btn btn-secondary" (click)=eliminar()>Eliminar</button></td>
      <td><button class="btn btn-secondary">Editar</button></td>        
    </tr>
  </table>
  <div style="position: relative; left: 50%;" *ngIf="user.length==0"><p>No hay usuarios.</p></div>
</body>
</html>
