<form (ngSubmit)="actualizar()" class="animated fadeIn fast" #forma="ngForm">

    <div class="form-group">
        <h3>Actualizar Convocatorias</h3>
        <input class="form-control" type="text" name="idConvocatoria" id="validationServer01"
            [(ngModel)]="convocatoria.idConvocatoria" #idConvocatoria="ngModel" required>

        <div class=" invalid-feedback ">
            Favor de ingresar una una convocatoria.
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">Actualizar</button> <br>
    <button class="btn btn-outline-danger btn-block" type="button" (click)="cancelar()">Cancelar</button>
</form>