<form class="animated fadeIn fast" (ngSubmit)="registrarMaestria(forma)" #forma="ngForm">

    <div class="form-group">
        <h3>Maestrías</h3>
        <input class="form-control" type="text" placeholder="Nombre de maestría" id="validationServer01"
            name="strMaestria" [(ngModel)]="maestria.strMaestria" #strMaestria="ngModel" required>

        <div class=" invalid-feedback ">
            Favor de ingresar una maestría!
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">AGREGAR</button>
</form>