<div class="container-fluid">

    <div class="container">
        <app-inicio-perfil *ngIf="componentes.inicioPerfilComponent" [componentes]="componentes">
        </app-inicio-perfil>
    </div>

    <div class="row">

        <div class=" col-lg-12 mt-4 mb-4 ml-4 mr-5">
            <app-registrar-perfil *ngIf="componentes.registrarPerfilComponent" (actualizarTabla)="obtenerPerfiles()"
                [idPerfil]="idPerfil" [componentes]="componentes"></app-registrar-perfil>

            <app-actualizar-perfil *ngIf="componentes.actualizarPerfilComponent" [idPerfil]="idPerfil"
                (actualizarTabla)="obtenerPerfiles()" [componentes]="componentes"></app-actualizar-perfil>

        </div>
        <div class=" col-lg-12  mt-4 mb-4">
            <app-tabla-perfil *ngIf="componentes.tablaPerfilComponent" (salida)="mostrarActualizar($event)"
                [perfiles]="perfiles" [componentes]="componentes">
            </app-tabla-perfil>
        </div>
    </div>
</div>