<form class="animated fadeIn fast" (ngSubmit)="registrarAcademia(forma)" #forma="ngForm">

    

    <div class="form-group">
        <h3>Académias</h3>
        <div class="form-group">
 
            <select class="form-control" name="idDireccion" [(ngModel)]="academia.idDireccion" #idDireccion="ngModel"
                id="validationServer02" required
                [ngClass]="{ 'is-invalid': !idDireccion.valid && idDireccion.touched,'is-valid': idDireccion.valid}">
                <option value="" selected="" hidden="" [ngValue]="undefined">Selecciona una Direccion</option>
                <option [value]="direccion._id" *ngFor="let direccion of direcciones">{{direccion.strNombre}}</option>
            </select>
            <div class="invalid-feedback">
                Ingrese el nombre de la dirección
            </div>
     
        </div>
        <input class="form-control" type="text" placeholder="Nombre de la académia" id=" validationServer01"
            name="strNombre" [(ngModel)]="academia.strNombre" #strNombre="ngModel" required>
    </div>
    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">AGREGAR</button>
</form>