<table id="tab1" class="tablausr table table-bordered table-white">
    <tr>
        <td>Licenciatura</td>
        <td>Eliminar</td>
        <td>Editar</td>
    </tr>
    <tr *ngFor="let convocatoria of convocatorias">
        <td>{{convocatoria.idDireccion}}</td>
        <td>{{convocatoria.idProfesor}}</td>
        <td>{{convocatoria.idACademia}}</td>
        <td>{{convocatoria.DateFecha}}</td>
        <td>{{convocatoria.idPeriodo}}</td>
        <td>{{convocatoria.DateFechaDebeCubrirse}}</td>
        <td>{{convocatoria.strTurno}}</td>
        <td>{{convocatoria.numHoras}}</td>
    
       
        <td><button class="btn btn-outline-danger" type="button" (click)="eliminar(convocatoria)">Eliminar</button>
        </td>
        <td><button class="btn btn-outline-warning" type="button" (click)="actualizar(convocatoria.idConvocatoria)">Editar</button>
        </td>