<div class="row">
    <div class=" col-md-12 mt-4 mb-4">
        <app-registrar-conocimientos *ngIf="componentes.registrarConocimientosComponent"
            (actualizarTablaCon)="obtenerConocimientos()" [idConocimiento]="idConocimiento">
        </app-registrar-conocimientos>

        <app-actualizar-conocimientos *ngIf="componentes.actualizarConocimientosComponent" [componentes]="componentes"
            (actualizarTablaCon)="obtenerConocimientos()" [idConocimiento]="idConocimiento">
        </app-actualizar-conocimientos>

    </div>

    <div class=" col-md-12 mt-4 mb-4">
        <app-tabla-conocimientos *ngIf="componentes.tablaConocimientosComponent" [componentes]="componentes"
            (salida)="mostrarActualizar($event)" [conocimientos]="conocimientos">
        </app-tabla-conocimientos>
    </div>
</div>