<div class="row">
  <div class="col-lg-5 col-md-12 mt-4 mb-4">
    <app-registrar *ngIf="componentes.registrarComponent" (actualizarTabla)="obtenerLicenciaturas()"></app-registrar>

    <app-actualizar *ngIf="componentes.actualizarComponent" [componentes]="componentes"
      [idLicenciatura]="idLicenciatura" (actualizarTabla)="obtenerLicenciaturas()"></app-actualizar>

  </div>

  <div class="col-lg-7 col-md-12 mt-4 mb-4">
    <app-tabla *ngIf="componentes.tablaComponent" [componentes]="componentes" (salida)="mostrarActualizar($event)"
      [licenciaturas]="licenciaturas">
    </app-tabla>
  </div>
</div>