<div class="row">

    <div class="col-lg-5 col-md-12 mt-4 mb-4">
        <h2>Licenciatura</h2>
        <form class="animated fadeIn fast">
  
  <div class="form-group">
    <input class="form-control" type="text" id="strLicenciatura" placeholder="licenciatura">
  </div>
  <button class="btn btn-outline-success btn-block">AGREGAR</button>
  </form>
  </div>
  <div class="col-lg-7 col-md-12 mt-4 mb-4">
    <table id="tab1" class="tablausr table table-bordered table-white">
        <tr>
            <td>Licenciatura</td>
            <td>Eliminar</td>
            <td>Editar</td>
        </tr>
        <tr>
            <td>Licenciatura</td>
            
            <td><button class="btn btn-outline-danger">Eliminar</button></td>
            <td><button class="btn btn-outline-warning">Editar</button></td>
        </tr>
    </table>
  </div>
  </div>
