<form (ngSubmit)="actualizar()" class="animated fadeIn fast" #forma="ngForm">

    <div class="form-group">
        <h3>Actualizar Licenciaturas</h3>
        <input class="form-control" type="text" name="strLicenciatura" id="validationServer01"
            [(ngModel)]="licenciatura.strLicenciatura" #strLicenciatura="ngModel" required>

        <div class=" invalid-feedback ">
            Favor de ingresar una licenciatura.
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">Actualizar</button> <br>
    <button class="btn btn-outline-danger btn-block" type="button" (click)="cancelar()">Cancelar</button>
</form>