<div class="form-group">

    <form class="animated fadeIn fast" (ngSubmit)="registrarConvocatoria(forma)" #forma="ngForm">
        <h2>CONVOCATORIA</h2>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="id Direcion " name="idDireccion" required
                [(ngModel)]="convocatoria.idDireccion" #idDireccion="ngModel">

        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="id Profesor" required name="idProfesor"
                [(ngModel)]="convocatoria.idProfesor" #idProfesor="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="id Academia" required name="idAcademia"
                [(ngModel)]="convocatoria.idAcademia" #idAcademia="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="date" placeholder="Fecha de publicacion " required name="DateFecha"
                [(ngModel)]="convocatoria.DateFecha" #DateFecha="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="id del periodo" required name="idPeriodo"
                [(ngModel)]="convocatoria.idPeriodo" #idPeriodo="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="date" placeholder="fecha a cubrir " required name="dateFechaDebeCubrirse"
                [(ngModel)]="convocatoria.dateFechaDebeCubrirse" #dateFechaDebeCubrirse="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="turno" required name="strTurno"
                [(ngModel)]="convocatoria.strTurno" #strTurno="ngModel">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="numero de horas " name="numHoras" required
                [(ngModel)]="convocatoria.numHoras" #numHoras="ngModel">
        </div>


        <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">AGREGAR</button>
    </form>

</div>