<div class="row">
    <div class="col-lg-5 col-md-12 mt-4 mb-4">
        <h2>CONVOCATORIA</h2>
    </div>
    <div class="form-group">

    <form class="animated fadeIn fast" (ngSubmit)="registrarConvocatoria(forma)" #forma="ngForm">

    <input class="form-control" type="number" placeholder="id Direcion "name="idDireccion"required [(ngModel)]="convocatoria.idDireccion" #idDireccion="ngModel">
    <input class="form-control" type="number" placeholder="id Profesor" required name="idProfesor"  [(ngModel)]="convocatoria.idProfesor" #idProfesor="ngModel">
    <input class="form-control" type="number" placeholder="id Academia" required name="idAcademia"[(ngModel)]="convocatoria.idAcademia" #idacademia="ngModel"> 
    <input class="form-control" type="date" placeholder="Fecha de publicacion " required name="DateFecha"  [(ngModel)]="convocatoria.DateFecha" #DateFecha="ngModel">
    <input class="form-control" type="number" placeholder="id del periodo" required name="idPeriodo"[(ngModel)]="convocatoria.idPeriodo" #idPedioro="ngModel"> 
    <input class="form-control" type="date" placeholder="fecha a cubrir " required name="dateFechaDebeCubrirse"  [(ngModel)]="convocatoria.dateFechaDebeCubrirse" #dateFechaDebeCubrirse="ngModel">>
    <input class="form-control" type="text" placeholder="turno" required name="strTurno" [(ngModel)]="convocatoria.strTurno" #strTurno="ngModel">
    <input class="form-control" type="number" placeholder="numero de horas " name="numHoras" required[(ngModel)]="convocatoria.numHoras" #numHoras="ngModel">
    

    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">AGREGAR</button>
</form>

</div>

  
