<main role="main" class="container my-auto">
    <div class="row">
        <div id="login" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3
            col-12">
            <img class="img-fluid mx-auto d-block " src="assets/img/uta-logo.png" />

            <form>
                <div class="form-group">
                    <label>Código de empleado</label>
                    <input class="form-control" type="email" placeholder="Código de empleado">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block mb-2">
                    Entrar
                </button>
                <br>
            </form>
        </div>
    </div>
</main>