<main role="main" class="container my-auto  animated fadeIn">
    <div class="row">
        <div id="login" class="logpos col-lg-4 offset-lg-4 col-md-6 offset-md-3
            col-12">
            <img class="img-fluid mx-auto d-block " src="assets/img/uta-logo.png" />

            <form class="needs-validation" (ngSubmit)="onLogin(form)" #form="ngForm">
                <div class="form-group">
                    <label>Código de empleado</label>
                    <input class="form-control" [(ngModel)]="administrador.numCodigoEmpleado" maxlength="4"
                        type="number" name="numEmpleado" #numEmpleado="ngModel"
                        [ngClass]="{ 'is-invalid': !numEmpleado.valid && numEmpleado.touched,'is-valid': numEmpleado.valid}"
                        required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" [(ngModel)]="administrador.strContrasenia" maxlength="8" type="password"
                        name="password" #password="ngModel"
                        [ngClass]="{ 'is-invalid': !password.valid && password.touched,'is-valid': password.valid}"
                        required>
                </div>
                <button type="submit" class="btn btn-outline-success btn-block mb-2" [disabled]="!form.valid">
                    ¡Ingresar!
                </button>
                <br>
            </form>

        </div>
    </div>
</main>