<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table id="tab1" class="table table-striped">
    <tr>
        <td>Académias</td>
        <td>Dirección</td>
        <td>Eliminar</td>
        <td>Editar</td>
    </tr>
    <tr *ngFor="let academia of academias">
        <td>{{academia.strNombre}}</td>
        <td>{{academia.idDireccion.strNombre}}</td>
        <td><button class="btn btn-outline-danger" type="button" (click)="eliminar(academia)">Eliminar</button>
        </td>
        <td><button class="btn btn-outline-warning" type="button" (click)="actualizar(academia._id)">Editar</button>
        </td>
    </tr>
</table>
</div>