<form class="animated fadeIn fast">
    <h2 style="text-align: center;">Registro de Administradores</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <br>
                <div class="form-group">
                    <h5>Ingrese el id de la dirección</h5>
                    <select class="form-control" name="idDireccion">
                        <option selected>Elegir...</option>
                    </select>
                </div>

                <div class="form-group">
                    <h5>Ingrese el nombre del administrador</h5>
                    <input class="form-control" type="text" placeholder="Ingresar nombre del administrador">
                    <div class="invalid-feedback">
                        Ingrese el nombre del administrador
                    </div>
                </div>
                <div class="form-group">
                    <h5>Ingrese el número de empleado</h5>
                    <input class="form-control" type="text" placeholder="Ingresar nombre del administrador">
                    <div class="invalid-feedback">
                        Ingrese el número de empleado
                    </div>
                </div>

                <div class="form-group">
                    <h5>Ingrese el correo</h5>
                    <input class="form-control" type="text" placeholder="Ingresar nombre del administrador">
                    <div class="invalid-feedback">
                        Ingrese el correo
                    </div>
                </div>

                <div class="form-group">
                    <h5>Ingrese el número de teléfono</h5>
                    <input class="form-control" type="text" placeholder="Ingresar nombre del administrador">
                    <div class="invalid-feedback">
                        Ingrese el número de teléfono
                    </div>
                </div>

                <div class="form-group">
                    <h5>Ingrese la contraseña</h5>
                    <input class="form-control" type="text" placeholder="Ingresar nombre del administrador">
                    <div class="invalid-feedback">
                        Ingrese la contraseña
                    </div>
                </div>


                <button type="submit" class="btn btn-outline-success btn-block">Agregar</button>
            </div>
        </div>
    </div>
</form>