<div class="form-row">

    <div class=" col-md-12 mt-4 mb-4">
        <h2>Gestión de Academias</h2>
        <form class="animated fadeIn fast">
            <div class="form-group">
                <select class="form-control ">
                    <option value="">TICS</option>
                </select>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre de la academia">
            </div>
            <div class="form-group">
                <select class="form-control ">
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" placeholder="Edad">
            </div>

            <button class="btn btn-outline-success btn-block">Registrarse</button>
        </form>
    </div>

    <div class=" col-md-12 mt-4 mb-4">
        <table id="tab1" class="tablausr table table-bordered table-white">
            <tr>
                <td>Dirección</td>
                <td>Nombre de academia</td>
                <td>Estado Civil</td>
                <td>Edad</td>
                <td>Eliminar</td>
                <td>Editar</td>
            </tr>
            <tr>
                <td>ROL</td>
                <td>NOMBRE</td>
                <td>DIRECCION</td>
                <td>CODEMPLEADO</td>
                <td><button class="btn btn-outline-danger">Eliminar</button></td>
                <td><button class="btn btn-outline-warning">Editar</button></td>
            </tr>
        </table>
    </div>
</div>