<form (ngSubmit)="actualizar()" class="animated fadeIn fast" #forma="ngForm">

    <div class="form-group">
        <h3>Actualizar direcciones académicas</h3>
        <input class="form-control" type="text" name="strNombre" id="validationServer01"
            [(ngModel)]="direccion.strNombre" #strNombre="ngModel" placeholder="Nombre de la direccion académica"
            required>

        <div class=" invalid-feedback ">
            Favor de ingresar una herramienta.
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!forma.valid">Actualizar</button> <br>
    <button class="btn btn-outline-danger btn-block" type="button" (click)="cancelar()">Cancelar</button>
</form>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Gestión de direcciónes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="direcciones">Direcciónes y Académias</a>
        <a class="dropdown-item" href="perfiles">Perfiles Académicos</a>

    </div>
</li>