<div class="row">
    <div class=" col-md-12 mt-4 mb-4">
        <app-insertar-direcciones *ngIf="componentes.registrarDireccionesComponent"
            (actualizarTablaDir)="obtenerDirecciones()" [idDireccion]="idDireccion">
        </app-insertar-direcciones>

        <app-actualizar-direcciones *ngIf="componentes.actualizarDireccionesComponent" [componentes]="componentes"
            (actualizarTablaDir)="obtenerDirecciones()" [idDireccion]="idDireccion">
        </app-actualizar-direcciones>

    </div>

    <div class=" col-md-12 mt-4 mb-4">
        <app-tabla-direcciones *ngIf="componentes.tablaDireccionesComponent" [componentes]="componentes"
            (salida)="mostrarActualizar($event)" [direcciones]="direcciones">
        </app-tabla-direcciones>
    </div>
</div>