<div class="row">
  <div class=" col-md-12 mt-4 mb-4">
    <app-registrar-maestria *ngIf="componentes.registrarMaestriasComponent" (actualizarTablaMa)="obtenerMaestrias()"
      [idMaestria]="idMaestria">
    </app-registrar-maestria>

    <app-actualizar-maestria *ngIf="componentes.actualizarMaestriasComponent" [componentes]="componentes"
      (actualizarTablaMa)="obtenerMaestrias()" [idMaestria]="idMaestria">
    </app-actualizar-maestria>

  </div>

  <div class=" col-md-12 mt-4 mb-4">
    <app-tabla-maestria *ngIf="componentes.tablaMaestriasComponent" [componentes]="componentes"
      (salida)="mostrarActualizar($event)" [maestrias]="maestrias">
    </app-tabla-maestria>
  </div>
</div>